<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Mapper.ApiSuiteMapper">
<resultMap id="BaseResultMap" type="com.example.demo.Model.ApiSuite">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="project_id" jdbcType="INTEGER" property="projectId"/>
    <result column="remark" jdbcType="VARCHAR" property="remark"/>
    <result column="creat_time" jdbcType="INTEGER" property="creatTime"/>
    <result column="update_time" jdbcType="INTEGER" property="updateTime"/>
</resultMap>
<sql id="Base_Column_List">
    `id`,`name`,`project_id`,`remark`,`creat_time`,`update_time`
    </sql>

<insert id="insertApiSuite" keyProperty="id"  parameterType="com.example.demo.Model.ApiSuite" useGeneratedKeys="true">
    insert into api_suite (`name`,`project_id`,`remark`,`creat_time`,`update_time`) value (#{name},#{projectId},#{remark},#{creatTime},#{updateTime})
</insert>
<select id="findAll" resultMap="BaseResultMap" parameterType="com.example.demo.Model.ApiSuite">
    select
    <include refid="Base_Column_List"></include>
    from api_suite
</select>

<select id="findAllByName" resultMap="BaseResultMap" parameterType="java.lang.String">
select
    <include refid="Base_Column_List"></include>
    from api_suite
    where `name` =#{apiSuiteName}
</select>
<select id="findAllByName" resultMap="BaseResultMap" parameterType="int">
        select
        <include refid="Base_Column_List"></include>
        from api_suite
        where `id` =#{apiSuiteId}
</select>
</mapper>