<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Mapper.ApiSuiteMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.Model.ApiSuite">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="project_id" jdbcType="INTEGER" property="projectId"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_time" jdbcType="INTEGER" property="createTime"/>
        <result column="update_time" jdbcType="INTEGER" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    `id`,`name`,`project_id`,`remark`,`create_time`,`update_time`
    </sql>

    <insert id="insertApiSuite" keyProperty="id" parameterType="com.example.demo.Model.ApiSuite"
            useGeneratedKeys="true">
        insert into api_suite (`name`,`project_id`,`remark`,`create_time`,`update_time`) value (#{name},#{projectId},#{remark},#{createTime},#{updateTime})
    </insert>
    <update id="updateApiSuite" parameterType="com.example.demo.Model.ApiSuite">
        update api_suite
        set `name` =#{name},`remark`=#{remark},`updateime`=#{updateTime}
        where id =#{id}
    </update>
    <delete id="deleteById" parameterType="int">
        delete from api_suite where id=#{apiSuiteId}
    </delete>
    <select id="findAll" resultMap="BaseResultMap" parameterType="com.example.demo.Model.ApiSuite">
        select
        <include refid="Base_Column_List"></include>
        from api_suite
    </select>

    <select id="findAllByName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"></include>
        from api_suite
        where `name` =#{apiSuiteName}
    </select>
    <select id="findByProjectId" resultMap="BaseResultMap" parameterType="int">
        select
        <include refid="Base_Column_List"></include>
        from api_suite
        <if test="projectId !=null and projectId !=''">
            where `project_id` = #{projectId}
        </if>
    </select>
    <select id="findTreeByProjectId" resultType="com.example.demo.Dto.ApiSuiteTreeDto">
        select
        <include refid="Base_Column_List"/>
        from api_suite
        where `project_id` = #{projectId}
    </select>
    <select id="findAllByBP" resultMap="BaseResultMap" parameterType="com.example.demo.Model.ApiSuite">
        select
        <include refid="Base_Column_List"></include>
        from api_suite
        where `name` =#{apiSuiteName} and
        `project_id` =#{projectId}
    </select>
    <select id="findAllById" resultMap="BaseResultMap" parameterType="int">
        select
        <include refid="Base_Column_List"></include>
        from api_suite
        where `id` =#{apiSuiteId}
    </select>
</mapper>