<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Mapper.ApiTestCaseStepMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.Model.ApiTestCaseStep">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="api_id" jdbcType="INTEGER" property="apiId"/>
        <result column="testcase_id" jdbcType="INTEGER" property="testCaseId"/>
        <result column="domain" jdbcType="VARCHAR" property="domain"/>
        <result column="request_param_type" jdbcType="VARCHAR" property="requestParamType"/>
        <result column="request_header" property="requestHeader"
                typeHandler="com.example.demo.typeHandler.ListTypeHandler"/>
        <result column="request_params" property="requestParams"
                typeHandler="com.example.demo.typeHandler.ListTypeHandler"/>
        <result column="request_body" jdbcType="VARCHAR" property="requestBody"/>
        <result column="request_data_params" property="requestDataParams"
                typeHandler="com.example.demo.typeHandler.ListTypeHandler"/>
        <result column="method" jdbcType="VARCHAR" property="method"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="request_assert" property="requestAssert"
                typeHandler="com.example.demo.typeHandler.ListTypeHandler"/>
        <result column="parameter_extractions" property="parameterExtractions"
                typeHandler="com.example.demo.typeHandler.ListTypeHandler"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="create_time" jdbcType="INTEGER" property="createTime"/>
        <result column="update_time" jdbcType="INTEGER" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        `id`,`name`,`api_id`,`testcase_id`,`domain`,`request_param_type`,`request_header`,`request_params`,`request_body`,`request_data_params`,`method`,`path`,`request_assert`,`parameter_extractions`,`sort`,`create_time`,`update_time`
    </sql>
    <insert id="insertApiTestCaseStep" parameterType="com.example.demo.Model.ApiTestCaseStep">
        insert  into api_testcase_step (`name`,`api_id`,`testcase_id`,`domain`,`request_param_type`,`request_header`,`request_params`,`request_body`,`request_data_params`,`method`,`path`,`request_assert`,`sort`,`creat_time`,`update_time`)
        value (#{name},#{apiId},#{testCaseId},#{domain},#{requestParamType},
        #{requestHeader,jdbcType=VARCHAR,typeHandler=com.example.demo.typeHandler.ListTypeHandler},
        #{requestParams,jdbcType=VARCHAR,typeHandler=com.example.demo.typeHandler.ListTypeHandler},
        #{requestBody},
        #{requestDataParams,jdbcType=VARCHAR,typeHandler=com.example.demo.typeHandler.ListTypeHandler},
        #{method},#{path},
        #{requestAssert,jdbcType=VARCHAR,typeHandler=com.example.demo.typeHandler.ListTypeHandler},
        #{parameterExtractions,jdbcType=VARCHAR,typeHandler=com.example.demo.typeHandler.ListTypeHandler},
        #{sort},#{createTime},#{updateTime})
    </insert>

    <select id="findByTestCaseId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"></include>
        from api_testcase_step
        where `testcase_id` = #{testCaseId}
        order by sort
    </select>

    <update id="updateApiTestCaseStep" parameterType="com.example.demo.Model.ApiTestCaseStep">
        update api_testcase_step
        set
        <if test="name !=null and name !=''">
            `name` = #{name},
        </if>
        <if test="apiId !=null and apiId !=''">
            `api_id` = #{apiId},
        </if>
        <if test="testCaseId !=null and testCaseId !=''">
            `testcase_id` = #{testCaseId},
        </if>
        <if test="domain !=null and domain !=''">
            `domain` = #{domain},
        </if>
        <if test="requestParamType !=null and requestParamType !=''">
            `request_param_type` = #{requestParamType},
        </if>
        <if test="requestHeader !=null">
            `request_header` =
            #{requestHeader,jdbcType=VARCHAR,typeHandler=com.example.demo.typeHandler.ListTypeHandler},
        </if>
        <if test="requestParams !=null">
            `request_params` =
            #{requestParams,jdbcType=VARCHAR,typeHandler=com.example.demo.typeHandler.ListTypeHandler},
        </if>
        <if test="requestBody !=null and requestBody !=''">
            `request_body` = #{requestBody},
        </if>
        <if test="requestDataParams !=null">
            `request_data_params` =
            #{requestDataParams,jdbcType=VARCHAR,typeHandler=com.example.demo.typeHandler.ListTypeHandler},
        </if>
        <if test="method !=null and method !=''">
            `method` = #{method},
        </if>
        <if test="path !=null and path !=''">
            `path` = #{path},
        </if>
        <if test="requestAssert !=null">
            `request_assert` =
            #{requestAssert,jdbcType=VARCHAR,typeHandler=com.example.demo.typeHandler.ListTypeHandler},
        </if>
        <if test="parameterExtractions !=null">
            `parameter_xtractions`=#{parameterExtractions,jdbcType=VARCHAR,typeHandler=com.example.demo.typeHandler.ListTypeHandler},
        </if>
        <if test="sort !=null and sort !=''">
            `sort` = #{sort},
        </if>
        `update_time` = #{updateTime}
        where id =#{id}
    </update>
    <delete id="deleteStepByStepId" parameterType="int">
        delete from api_testcase_step where id =#{id,jdbcType=INTEGER}
    </delete>

</mapper>