<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Mapper.ApiTestCaseMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.Model.ApiTestCase">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="env_id" jdbcType="INTEGER" property="envId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="project_id" jdbcType="INTEGER" property="projectId"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_time" jdbcType="INTEGER" property="createTime"/>
        <result column="update_time" jdbcType="INTEGER" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    `id`,`env_id`,`name`,`project_id`,`remark`,`create_time`,`update_time`
    </sql>
    <insert id="insertApiTestCase" parameterType="com.example.demo.Model.ApiTestCase">
        insert into api_testcase (`env_id`,`name`,`project_id`,`remark`,`create_time`,`update_time`)
         value (#{envId},#{name},#{projectId},#{remark},#{createTime},#{updateTime})
    </insert>
    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"></include>
        from api_testcase
        where id =#{id}
    </select>
    <select id="findByAll" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List"></include>
        from api_testcase
    </select>
    <select id="findByPage" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List"></include>
        from api_testcase
        <if test="projectId !=null">
            where `project_id` =#{projectId,jdbcType=INTEGER}
        </if>
        <if test="name!=null and name!=''">
            and `name` LIKE CONCAT('%',#{name}, '%')
        </if>
    </select>
    <update id="updateApiTestCase" parameterType="com.example.demo.Model.ApiTestCase">
        update api_testcase
        set
        <if test="envId!=null and envId !=''">
        `env_id`=#{envId}
        </if>
        <if test="name !=null and name != ''">
            `name` = #{name},
        </if>
        <if test="projectId !=null and projectId != ''">
            `project_id` = #{projectId},
        </if>
        <if test="remark !=null and remark != ''">
            `remark` = #{remark},
        </if>
        <if test="updateTime !=null and updateTime != ''">
            `update_time` = #{updateTime},
        </if>
        where id =#{id}
    </update>
    <delete id="testCaseDelete" parameterType="int">
    delete from api_testcase where id = #{testCaseId}
</delete>
</mapper>