<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Mapper.ApiTestCaseStepMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.Model.ApiTestCaseStep">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="testcase_id" jdbcType="INTEGER" property="testCaseId"/>
        <result column="domain" jdbcType="VARCHAR" property="domain"/>
        <result column="request_param_type" jdbcType="VARCHAR" property="requestParamType"/>
        <result column="request_header" property="requestHeader"
                typeHandler="com.example.demo.typehandler.ListTypeHandler"/>
        <result column="request_params" property="requestParams"
                typeHandler="com.example.demo.typehandler.ListTypeHandler"/>
        <result column="request_body" jdbcType="VARCHAR" property="requestBody"/>
        <result column="method" jdbcType="VARCHAR" property="method"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="request_assert" property="requestAssert"
                typeHandler="com.example.demo.typehandler.ListTypeHandler"/>
        <result column="sort" jdbcType="VARCHAR" property="sort"/>
        <result column="creat_time" jdbcType="INTEGER" property="creatTime"/>
        <result column="update_time" jdbcType="INTEGER" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        `id`,`name`,`testcase_id`,`domain`,`request_param_type`,`request_header`,`request_params`,`request_body`,`method`,`path`,`request_assert`,`sort`,`creat_time`,`update_time`
    </sql>

</mapper>