<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Mapper.EnvParamsMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.Model.EnvParams">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="project_id" jdbcType="INTEGER" property="projectId"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="value" property="value"
                typeHandler="com.example.demo.typeHandler.ListTypeHandler"/>
        <result column="create_time" jdbcType="INTEGER" property="createTime"/>
        <result column="update_time" jdbcType="INTEGER" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        `id`,`project_id`,`type`,`name`,`value`,`create_time`,`update_time`
    </sql>
    <insert id="insert" parameterType="com.example.demo.Model.EnvParams">
        insert into env_params (`project_id`,`type`,`name`,`value`,`create_time`,`update_time`)
        value (#{projectId},#{type},#{name},
        #{value,jdbcType=VARCHAR,typeHandler=com.example.demo.typeHandler.ListTypeHandler},#{createTime},#{updateTime})
    </insert>
    <select id="selectByProjectId" resultMap="BaseResultMap" parameterType="int">
        select
        <include refid="Base_Column_List"/>
        from env_params
        where project_id =#{projectId}
    </select>
    <select id="selectByName" parameterType="String">
        select
        <include refid="Base_Column_List"/>
        from env_params
        where  `name` =#{name}
    </select>
</mapper>
