<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Mapper.SendHexRecordMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.Model.SendHexRecord">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="hex_content" jdbcType="VARCHAR" property="hexContent"/>
        <result column="sys_back_content" jdbcType="VARCHAR" property="sysBackContent"/>
        <result column="is_pass" jdbcType="TINYINT" property="isPass"/>
        <result column="create_time" jdbcType="INTEGER" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        `id`,`url`,`hex_content`,`sys_back_content`,`is_pass`,`create_time`
    </sql>
    <insert id="insertHexRecord" keyProperty="id" parameterType="com.example.demo.Model.SendHexRecord">
        insert into send_hex_record (`url`,`hex_content`,`sys_back_content`,`is_pass`,`create_time`)
        value
        (#{url},#{hexContent},#{sysBackContent},#{isPass},#{createTime})
    </insert>
</mapper>