<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Mapper.SysLogMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.Model.SysLog">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="method" jdbcType="VARCHAR" property="method"/>
        <result column="params" jdbcType="VARCHAR" property="params"/>
        <result column="header" jdbcType="VARCHAR" property="header"/>
        <result column="class_method" jdbcType="VARCHAR" property="classMethod"/>
        <result column="code" jdbcType="INTEGER" property="code"/>
        <result column="response" jdbcType="VARCHAR" property="response"/>
        <result column="create_time" jdbcType="INTEGER" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        `id`,`url`,`method`,`params`,`header`,`class_method`,`code`,`response`,`create_time`
    </sql>
    <insert id="insert" keyProperty="id" parameterType="com.example.demo.Model.SysLog">
        insert  into sys_log
        (`url`,`method`,`params`,`header`,`class_method`,`code`,`response`,`create_time`) value
        (#{url},#{method},#{params},#{header},#{classMethod},#{code},#{response},#{createTime})
    </insert>
</mapper>
